<%= render 'shared/errors' , obj: @post%>

<%= form_with(model: post) do |form| %>
  <%= form.text_field :title, type: "string"%>
  <%= form.text_area :description, type: "text"%>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
